@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

html, body {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  font-family: 'Rotobo', sans-serif;
  color: #505962;
  background-color: #fafafa;
}
