@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

html, body {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  font-family: 'Lato', sans-serif;
  color: #505962;
}

button {
  background-color: rgb(102, 117, 223) !important;
}
button:hover {
  background-color: #1d2fb3 !important;
}

/* Login page styles */
form {
  width: 80%;
  padding-top: 8rem;
  margin: auto;
}
.form-group {
  margin-bottom: 2.5rem;
}


